@model Day09CF.Models.nvtSan_Pham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>nvtSan_Pham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nvtMaSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nvtMaSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nvtTenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nvtTenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nvtHinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nvtHinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nvtSoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nvtSoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nvtDonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nvtDonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nvtLoaiSanPhamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nvtLoaiSanPhamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.nvtId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
